.dashboardlayout{
    display: flex;
    gap: 50px;
    height: 100%;
    .menu{
        flex: 1;
    }
    .content{
        flex: 4;
        background-color: #12101b;
        .orbital{
            opacity: 0.05;            
        }   
    }

}
